{% extends 'baseUser.html' %}

{% block title %}Registrarse{% endblock %}

{% block heading %}Registrarse{% endblock %}

{% block content %}
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="first_name" placeholder="Nombre" required><br>
    <input type="text" name="last_name" placeholder="Apellido" required><br>
    <input type="text" name="username" placeholder="Nombre de usuario" required><br>
    <input type="email" name="email" placeholder="Correo electrónico" required><br>
    <input type="password" name="password1" placeholder="Contraseña" required><br>
    <input type="password" name="password2" placeholder="Confirmar contraseña" required><br>
    <input type="submit" value="Registrarse">
</form>

<div>
    {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %}
</div>
{% endblock %}